version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    container_name: pmate-backend

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    container_name: pmate-frontend