version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: pmate-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: pmate-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/uploads:/app/uploads
    environment:
      - MONGO_URI=mongodb://mongo:27017/pmate_db 
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: pmate-frontend
    ports:
      - "80:80" 
      - "5173:5173" 
    depends_on:
      - backend

volumes:
  mongo-data: